.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f5f5f5; */
  
  background-image: linear-gradient(120deg, #e0c3fc 30%, #8ec5fc 100%);
  height: 100vh;
  backdrop-filter: blur(8px);
}

.lovekdl {
  width : 280px;
  height: 30px;
  background-color: rgba(255,255,255,0.1);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lovekdl .ant-input{
  width : 280px;
  height: 30px;
  background-color: rgba(255,255,255,0.1);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.content {
  text-align: center;

}

.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto;
  position: relative;
  width : 300px;
  height: 250px;
  background-color: rgba(255,255,255,0.1);
  margin : 30px;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  grid-gap: 16px;
}

.login-form-inner {
  width: 100%;
  text-align: center;
}

.login-form .ant-form-item {
  display: flex;
}

.login-form .ant-form-item-label {
  width: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.login-form .ant-form-item-control {
  flex: 1;
  display: flex;
}

.login-form .ant-form-item-control-input {
  width: 300px;
}
